.mark {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--font-inter);
  font-size: 22px;
  color: var(--color-text-primary);
  pointer-events: none;
  z-index: 10;
}

.registered {
  font-size: 10px;
  vertical-align: super;
  margin-left: 2px;
}